.leftLabel {
  color: var(--White, #FFF);
  text-shadow: 0px 7px 0px #005FAD;
  -webkit-text-stroke-width: 2;
  -webkit-text-stroke-color: var(--White, #FFF);
  font-family: "Neue Pixel Grotesk";
  font-size: 93.713px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  width: 442.462px;
  flex-shrink: 0;
}

.center {
  max-width: 1757px;
  flex: 1 1 0%;
}

.rightLabel {
  width: 434px;
  flex-shrink: 0;
  .main {
    color: var(--White, #FFF);
    text-align: right;
    text-shadow: 0px 4px 0px #005FAD;
    -webkit-text-stroke-width: 0.30000001192092896;
    -webkit-text-stroke-color: var(--White, #FFF);
    font-family: "Neue Pixel Grotesk";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}
