@import '~antd/dist/antd.css';
@import url(https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700;800&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'styles/typography.scss';
@import 'styles/notification.scss';
@import 'styles/tooltip.scss';
@import 'styles/modal.scss';
@import 'styles/select.scss';
@import 'styles/searchInput.scss';
@import 'styles/poolTable.scss';
@import 'styles/slider.scss';
@import 'styles/poolTabs.scss';

body {
  margin: 0;
  font-family: 'Neue Pixel Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply text-base text-bc-white;
  line-height: 1.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}

::placeholder {
  @apply text-bc-white-60 #{!important};
}

@layer components {
  svg.font-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    // vertical alignment when adjacent with texts
    vertical-align: -0.15em;
    // change color by setting color
    fill: currentColor;
    overflow: hidden;
  }

  /* Chrome, Safari and Opera */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar::-webkit-scrollbar {
    @apply ml-1 w-1;
  }
  .scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-grey-300 rounded-[100vh];
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-grey-500;
  }
}

:root {
  --obric-color_main_1: #ff6827;
  --obric-color_main_2: #041219;
  --obric-color_minor_1: #ffcb45;
  --obric-color_minor_2: #ff4d4d;
  --obric-color_gradient: linear-gradient(121.75deg, #ff6827 0%, #ff9900 100%);
  --obric-color_bg_1: #f0f1f6;
  --obric-color_bg_table: #fafafa;
  --obric-color_bg_hover: #f0f1f6;
  --obric-color_bg_row: #ffffff;
  --obric-color_bg_input: #f0f1f6;
  --obric-color_bg_panel: #ffffff;
  --obric-color_mask: rgba(0, 0, 0, 0.9);
  --obric-color_bg_tooltip: #ffffff;
  --obric-color_bg_token: #ffffff;
  --obric-color_text_1: #041219;
  --obric-color_text_2: rgba(4, 18, 25, 0.5);
  --obric-color_text_3: rgba(4, 18, 25, 0.3);
  --obric-color_text_link: #ffcb45;
  --obric-color_text_btn: #ffffff;
  --obric-color_border: #ebedf4;
  --obric-color_border_2: #ebedf4;
  --obric-color_list_hover: #f0f1f6;
  --obric-color_disabled: rgba(4, 18, 25, 0.1);

  // bitCow
  --bitcow-color-text-white: #fff;
  --bitcow-color-text-main: #ffb500;
  --bitcow-color-text-red: #ff4d4d;
  --bitcow-color-text-orange: #ff8a00;
  --bitcow-color-text-gold: #fecb38;
  --bitcow-color-text-blue: #0083fe;

  &.dark {
    --obric-color_main_2: #ffffff;
    --obric-color_bg_1: #000000;
    --obric-color_bg_hover: rgba(255, 255, 255, 0.1);
    --obric-color_bg_table: #101010;
    --obric-color_bg_row: #1e1e1e;
    --obric-color_bg_input: #101010;
    --obric-color_bg_panel: #333333;
    --obric-color_bg_tooltip: #505050;
    --obric-color_bg_token: rgba(255, 255, 255, 0.1);
    --obric-color_text_1: #ffffff;
    --obric-color_text_2: rgba(255, 255, 255, 0.5);
    --obric-color_text_3: rgba(255, 255, 255, 0.3);
    --obric-color_border: rgba(255, 255, 255, 0.1);
    --obric-color_border_2: #272a2c;
    --obric-color_list_hover: rgba(255, 255, 255, 0.1);
    --obric-color_disabled: rgba(255, 255, 255, 0.1);
  }
}
