.ant-notification {
  .ant-notification-notice {
    @apply relative rounded-none bg-white p-4 text-item_black dark:bg-color_bg_3 dark:text-white;
    &::before {
      content: '';
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &::after {
      @apply bg-[#ebecf0] dark:bg-[#040822] #{!important};
      content: '';
      position: absolute;
      width: 17.66px;
      height: 17.66px;
      top: -9px;
      right: -9px;
      transform: rotate(-45deg);
    }
    &.obric-notification--success::before {
      @apply bg-color_main;
    }
    &.obric-notification--error::before {
      @apply bg-color_error;
    }
    // &.obric-notification--warn::before {
    //   @apply bg-warn-500;
    // }
    // &.obric-notification--info::before {
    //   @apply bg-info-500;
    // }
    // @apply rounded-[16px];
    .ant-notification-notice-message {
      @apply text-lg text-item_black dark:text-white;
    }
    .ant-notification-notice-close {
      @apply h-6 w-6 opacity-30 hover:opacity-100;
    }
    // .ant-notification-notice-description {
    //   @apply text-grey-700 body-medium;
    // }
  }
}
