@font-face {
  font-family: "Neue Pixel Grotesk";
  src: local("Neue Pixel Grotesk"), url("../resources/fonts/NeuePixelGrotesk/Neue-Pixel-Grotesk.otf") format("truetype");
  font-weight: normal;
  font-display: fallback;
}
