.evmConnectModal {
  gap: 12px;
  min-width: 400px !important;

  .backBtn {
    cursor: pointer;
    position: absolute;
    top: 16px;
    left: 16px;
  }

  .closeBtn:hover svg path:first-child{
    fill: rgba(255, 255, 255, 0.2);
  }

  .closeBtn:active svg path:first-child{
    fill: rgba(255, 255, 255, 0.2);
  }

  .closeBtn:active svg path:nth-child(2){
    fill: rgba(0, 0, 0, 0.3);
  }

  .separate {
    border-width: 0px 0px 1px;
    border-image: initial;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 4px;
  }

  .connecting {
    height: 204px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .connectingIconContainer {
      position: relative;

      .retryContainer {
        background: #4b5563;
        border-radius: 50%;
        padding: 4px;
        cursor: pointer;
        position: absolute;
        bottom: -12px;
        right: -12px;

        .retryIcon {
          width: 24px;
          height: 24px;
        }
      }
    }

    .connectingIcon {
      width: 60px;
      height: 60px;
      border-radius: 4px;
    }

    .connection {
      font-size: 18px;
      margin-top: 20px;
    }
    .acceptRequest {
      font-size: 14px;
      margin-top: 6px;
      text-align: center;
      white-space: pre-wrap;
      color: rgba(255, 255, 255, 0.4);
    }
    .btnDownload {
      margin-top: 20px;
    }
  }
}
