@mixin currencyInput {
  .ant-input-number {
    @apply border-0 border-none;
    box-shadow: none;
    &:hover,
    &:focus,
    &:active {
      @apply border-0 border-none;
      box-shadow: none;
    }

    input {
      @apply px-0 text-right text-base font-extrabold text-color_main_2;
      box-shadow: none;

      &:read-only {
        @apply text-[14px] font-bold text-color_main_2;
      }
    }

    ::placeholder {
      @apply text-color_text_3;
    }
    /* Edge */
    ::-webkit-input-placeholder {
      @apply text-color_text_3;
    }
    /* Internet Explorer */
    :-ms-input-placeholder {
      @apply text-color_text_3;
    }
  }
}
