.ant-notification {
  .ant-notification-notice {
    width: 354px;
    height: fit-content;
    @apply relative rounded-none p-3 text-bc-white;
    border: 2px solid #4DD12C;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.10);

    .ant-notification-notice-message {
      @apply text-lg leading-none #{!important};
    }
    .ant-notification-notice-description {
      @apply text-bc-white-60 text-sm;
    }

    &.obric-notification--success {
      border-color: #4DD12C;
      .ant-notification-notice-message {
        color: #4DD12C;
      }
    }
    &.obric-notification--error {
      border-color: #FF1F00;
      .ant-notification-notice-message {
        color: #FF1F00;
      }
    }
    // &.obric-notification--warn::before {
    //   @apply bg-warn-500;
    // }
    // &.obric-notification--info::before {
    //   @apply bg-info-500;
    // }
    // @apply rounded-[16px];
    // .ant-notification-notice-description {
    //   @apply text-grey-700 body-medium;
    // }

    .ant-notification-notice-close {
      top: 12px;
    }
  }
}
