.ant-notification {
  .ant-notification-notice {
    width: 420px;
    @apply relative h-fit rounded-none p-3 font-pg text-bc-white;
    border: 2px solid #4dd12c;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.1), 3px 3px 0px 0px rgba(0, 0, 0, 0.1);

    .ant-notification-notice-message {
      @apply text-2xl leading-none #{!important};
    }
    .ant-notification-notice-description {
      @apply text-lg text-bc-white-60;
    }

    &.obric-notification--success {
      border-color: #4dd12c;
      .ant-notification-notice-message {
        color: #4dd12c;
      }
    }
    &.obric-notification--error {
      border-color: #ff1f00;
      .ant-notification-notice-message {
        color: #ff1f00;
      }
    }

    &.obric-notification--warn {
      border-color: #ff8d00;
      .ant-notification-notice-message {
        color: #ff8d00;
      }
    }

    .ant-notification-notice-close {
      @apply top-3;
    }
  }
}
