.ant-pool-table {
  @apply relative w-full;

  &.ant-table-loading {
    &::after {
      @apply hidden #{!important};
    }
  }

  .ant-table {
    @apply relative bg-transparent text-bc-white tablet:p-0;

    .ant-table-cell {
      &:before {
        @apply hidden #{!important};
      }
      @apply border-white bg-transparent text-base text-bc-white;

      .ant-table-column-sorters {
        @apply justify-start gap-2;
        .ant-table-column-title {
          @apply flex-[none];
        }
      }
    }

    .ant-table-column-sorter-up.active,
    .ant-table-column-sorter-down.active {
      @apply text-bc-gold;
    }

    .ant-table-thead {
      @apply tablet:hidden;
      .ant-table-cell:first-of-type {
        min-width: 240px;
        width: 30%;
      }
      .ant-table-cell {
        @apply border-b-[24px] border-transparent text-bc-white-80;
      }
    }

    .ant-table-tbody {
      .ant-table {
        @apply px-0;
      }
      tr:nth-child(odd of .ant-table-row.ant-table-row-level-0) {
        @apply bg-bc-grey-transparent;
        & + .expanded-pool {
          .ant-table-cell {
            @apply bg-bc-grey-transparent #{!important};
          }
        }
      }
      .ant-table-row.ant-table-row-level-0 {
        td {
          @apply border-t border-b border-transparent;
          &:first-of-type {
            @apply border-l;
          }
          &:last-of-type {
            @apply border-r;
          }
        }
        &:has(+ .expanded-pool:not([style*='display: none'])) {
          td {
            @apply border-bc-white-40;
          }
        }
        .ant-table-cell {
          @apply cursor-pointer;
        }
        &:hover td {
          @apply border-bc-white-40;
        }

        & + .expanded-pool {
          .ant-table-cell {
            @apply bg-transparent #{!important};
          }
        }
      }
      .ant-table-expanded-row-level-1 {
        > .ant-table-cell {
          @apply cursor-default border-l border-r border-b border-bc-white-40 tablet:p-0;
        }
      }
      .ant-table-cell {
        @apply rounded-none border-b-0 border-t-0 bg-transparent tablet:p-4;
      }
    }

    .ant-table-tbody > tr > td > .ant-table-wrapper:only-child .ant-table,
    .ant-table-tbody
      > tr
      > td
      > .ant-table-expanded-row-fixed
      > .ant-table-wrapper:only-child
      .ant-table {
      @apply -m-4;
    }
  }
}

.ant-radio-button-wrapper {
  @apply h-[40px] rounded-none border-color_bg_panel bg-transparent py-3 px-4 leading-[14px] text-color_text_2 #{!important};
  &.ant-radio-button-wrapper-checked {
    @apply border-b border-white bg-transparent text-white #{!important};
  }
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
  @apply hidden;
}

.ant-spin-dot-item {
  @apply bg-color_main;
}

.ant-spin-nested-loading > div > .ant-spin .ant-spin-dot {
  @apply top-0 left-0 m-0 #{!important};
}

.ant-spin-blur {
  @apply opacity-0 #{!important};
}
