.menu {
  :global {
    // menu
    .ant-menu-item.ant-menu-item-selected {
      @apply bg-transparent #{!important}; // remove blue background
      a {
        @apply relative text-bc-white #{!important};
        &::after {
          position: absolute;
          right: -19px;
          bottom: 3px;
          content: '';
          background-image: url('../../../../resources/icons/downArrow.svg');
          background-size: contain;
          background-repeat: no-repeat;
          height: 12px;
          width: 15px;
        }
      }
    }

    .ant-menu-item {
      @apply flex h-fit items-center border-0 #{!important};
    }

    .ant-menu-title-content {
      @apply flex items-center;
    }

    .ant-menu-item::after,
    .ant-menu-submenu::after {
      @apply bottom-3 #{!important};
    }

    .ant-menu-item.ant-menu-item-selected a::after {
      @apply bottom-2 #{!important};
    }

    .ant-menu .ant-menu-item {
      display: flex;
      align-items: center;
    }

    // link color
    .ant-menu .ant-menu-item,
    .ant-menu .ant-menu-item-group-title,
    .ant-menu .ant-menu-item > a,
    .ant-menu .ant-menu-item > span > a {
      @apply px-11 text-base font-medium text-color_text_1;
    }
  }
}

.drawer {
  :global {
    .ant-drawer-body {
      @apply px-6 pb-10 pt-[45px] #{!important};
    }
  }
}

.blur {
  --fallback-background: #fbf5ff;
  background-color: var(--fallback-background) !important; /* Fallback */
}

@supports (backdrop-filter: blur()) {
  .blur {
    backdrop-filter: blur(40px);
    // @apply bg-primeBlack #{!important};
  }
}
